html, body{
    margin: 0;
    padding: 0;
    border: 5px solid #0d1116;
}

img{
    width: 100%;
    display: block;
}

img.responsive{
    display: none;
}

@media screen and (max-width: 768px) {
    img{
        display: none;
    }
    
    img.responsive{
        display: block;
    }
}
    